<nb-card>
  <nb-card-header>
    Call originate
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="destination" placeholder="Call to..">
      <span class="input-group-btn">
        <button class="btn btn-success" (click)="originate_bt_call()">
          Call
        </button>
      </span>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Call list
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table
      [settings]="list_settings"
      [source]="list_source"
      (deleteConfirm)="list_onDeleteConfirm($event)"
      (rowSelect)="list_onRowSelect($event)"
    >
    </ng2-smart-table>  
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Call detail
  </nb-card-header>

  <nb-card-body>
    <textarea rows="30" readonly="true" [(ngModel)]="detail" placeholder="Configuration" class="form-control" style="white-space:pre; font-family:monospace"></textarea>
  </nb-card-body>

  <nb-card-footer>
    <div class="col-sm-9">
      <button class="btn btn-success" (click)="detail_bt_answer()">Answer</button>
      <button class="btn btn-success" (click)="detail_bt_hangup()">Hangup</button>
    </div>
  </nb-card-footer>

</nb-card>

